<div id="headerwrap">
  <div class="col-lg-8 col-lg-offset-2 himg title-image">
    <img src="{{ "/assets/img/top-label-emergence-sound.png" | prepend:site.baseurl }}" class="img-responsive">
  </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg title-image">
                <img src="{{ "/assets/img/waveposterlogonotext.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
